* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "nuqun";
  src: url("fonts/Nuqun-Regular.otf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

.button {
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

body {
  background: #f9f9f9;
}

#myVideo {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.modal{
  max-height: 0;
  overflow: hidden;
  padding: 0 !important;
  transition: 0.3s;
  position: absolute;
  top: 0;
  z-index: 11;
  background: #F9F9F9;
  width: 100%;
  top: 0;
  left: 0
  ;
  right: 0;
}
.modal.active{
  min-height: 100vh;
  max-height: 88000px;
  padding: 170px 36px 40px 36px !important;
  align-self: center;

}
.container_top {
  position: relative;
  overflow: hidden;
  border-radius: 0px 0px 40px 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container_top_wrapper {
  position: relative;
  z-index: 1;
  background: linear-gradient(
    216deg,
    rgba(0, 0, 0, 0) 64.18%,
    rgba(0, 0, 0, 0.6) 76.24%,
    rgba(0, 0, 0, 0.66) 80.95%
  );
  height: 100%;
  width: 100%;
  /* height: 644px; */
  display: flex;
  flex-direction: column;
}
.header {
  max-width: 1200px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 36px;
  position: absolute;
z-index: 18;
  gap: 30px;
  width: 100%;
  align-self: center;
  transform-origin: top center;

}
.header_logo {
  display: flex;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.header_logo_img {
}

.tokenomics_item_number {
  opacity: 0; /* Начальное состояние - невидимый */
  transition: opacity 1s ease, transform 1s ease; /* Плавный переход для opacity и transform */
  transform: translateY(20px); /* Сдвиг вниз */
}
.element-animation {
  top: 300px;
  opacity: 0;
  position: relative;
}
.element-animation.element-show {
  position: relative;
  top: 0px;
  opacity: 1;
  transition-duration: 1.4s;
}
.tokenomics_item_number.visible {
  opacity: 1; /* Делает элемент видимым */
  transform: translateY(0); /* Возвращает на место */
}

.tokenomics_item_description {
  opacity: 0; /* Начальное состояние - невидимый */
  transition: opacity 1s ease, transform 1s ease; /* Плавный переход для opacity и transform */
  transform: translateY(20px); /* Сдвиг вниз */
}

.tokenomics_item_description.visible {
  opacity: 1; /* Делает элемент видимым */
  transform: translateY(0); /* Возвращает на место */
}

.header_logo_text {
  color: #fff;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.3s;
}
.header_logo_text.active{
  color: #000;
}
.header__nav {
  width: fit-content;
  display: flex;
}

.header__nav_item_one {
  display: flex;
  transition: 0.3s;
  padding: 7px 16px;
  border-radius: 58px;
  background: #242424;
  gap: 10px;
  height: 27px;
  align-items: center;

  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  z-index: 3;
}
.header__nav_item_one:hover {
  background: #fff;
  color: #000000;
}

.header__nav_item_one:hover path {
  stroke: black;
}

.header__nav_item_one_img {
  transition: 0.3s;
}
.header__nav_item_one.active{
  background: #3E3E3E !important;
}
.header__nav_item_one.active:hover{
  color: white;
}

.header__nav_item_one.active:hover path {
  stroke: white;
}

.header__nav_item_one.active:hover img {
  width: 16px;
  height: 8.5px;
}
.close-icon{
  width: 16px;
  height: 16px;
}
.header__nav_item_two {
  height: 27px;
  padding: 6px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 1000px;
  border: 1px solid #000;
  width: 144px;
  position: relative;
  left: -26px;
  z-index: 2;
}
.header__nav_item_two:hover {
  background: #fff;
  color: #000;
  border: #fff solid 1px;
}
.header__button {
  display: flex;
  height: 27px;
  padding: 6px 59px;
  justify-content: center;
  border-radius: 1000px;
  background: #242424;

  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
}
.header__button:hover {
  background: #fff;
  color: #000;
}
.main {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  padding: 36px;
  margin: auto;
  height: 100%;
  width: 100%;
  transform-origin: bottom center;
  align-items: end;
}
.main__left {
}
.main__title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(
    91deg,
    #fff 0.67%,
    #f2f1ef 23.36%,
    #d8cecc 47.63%,
    #ded4d4 66.24%,
    #cebcd0 97.59%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.main__text1 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin: 6px 0 10px 0;
  line-height: 120%;
  max-width: 378px;
}
.main__text2 {
  color: #cbcbcb;
  font-size: 13px;
  font-style: normal;
  line-height: 120%;
}
.main__button {
  border-radius: 1000px;
  background: linear-gradient(
      89deg,
      #ffeba3 0%,
      #e5bcff 23.5%,
      #c5e9ff 46.5%,
      #b9ffb9 65%,
      #ffeba3 84.5%,
      #c5e9ff 100%
    ),
    #fff;
  padding: 9px 20px;
  color: #242424;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  margin: 28px 00 0 0;
  transition: 0.3s;
  width: fit-content;
}
.main__button:hover {
  background: linear-gradient(89deg, #ffffff 0%, #ffffffec 100%);
}
.main__right {
  display: flex;
}
.main__right_button {
  border-radius: 1000px;
  border: 1px solid #fff;
  padding: 6px 10px;
  height: 100%;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s;
}
.main__right_button:hover {
  background: #fff;
  color: #000;
}
.main__right_button_down {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
}
.main__right_button_down:hover img {
  animation: arrowAnimation_bot 0.5s ease-in-out forwards;
}

@keyframes arrowAnimation_bot {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 50px);
  }
  51% {
    transform: translate(-50px, 50px);
  }
  52% {
    transform: translate(-50px, -50px); /* Перемещаем стрелку вниз */
  }
  100% {
    transform: translate(0, 0); /* Возвращаем стрелку на исходное место */
  }
}

.about {
  margin: 70% auto 120px auto;
  max-width: 1200px;
  padding: 0 36px;
  position: relative;
}

.about__title {
  position: relative;
  margin: 0 0 12px 0;
  z-index: 2;
}
.title {
  color: #373737;

  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.about_left {
  border-radius: 24px;
  border: 1px solid #fff;
  background: radial-gradient(
    67.42% 67.42% at 50% 50%,
    #fff 26.73%,
    rgba(255, 255, 255, 0) 100%
  );
  max-width: 744px;
  width: 75%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.about_left_title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  background: var(
    --Gradient,
    linear-gradient(
      91deg,
      #9e9e9e 0.67%,
      #d4d4d4 23.36%,
      #d8cecc 47.63%,
      #ded4d4 66.24%,
      #cebcd0 97.59%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 15px 0;
}
.about__left_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 41px;
}
.about__left_item {
  color: #373737;

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.about_right {
  overflow: hidden;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
.about_right_img {
  width: 100%;
  object-fit: cover;
}

.about_deco_container {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  max-width: 568.094px;
  left: 63px;
  z-index: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.about_deco_inner-container {
  width: 568.09px;
  height: 531.32px;
  justify-content: center;
  align-items: center;
  display: inline-flex;

  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about_deco_position-relative {
  width: 568.09px;
  height: 531.32px;
  position: relative;
}

.about_deco_circle {
  width: 220.66px;
  height: 220.66px;
  position: absolute;
  border-radius: 9999px;
  box-shadow: 0px 0px 0px;
  filter: blur(67px);
}

.about_deco_yellow-circle {
  left: 173.71px;
  top: 0px;
  background: #ffeba3;
}

.about_deco_blue-circle {
  left: 568.09px;
  top: 155.33px;
  background: #c5e9ff;
}

.about_deco_purple-circle {
  left: 173.71px;
  top: 310.65px;
  background: #eccdff;
}

.about_deco_green-circle {
  left: 220.66px;
  top: 155.33px;
  background: #b9ffb9;
}

.about_deco_rotated {
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.tokenomics {
  max-width: 1200px;
  padding: 0 36px;
  margin: auto;
  display: flex;
  gap: 89px;
}
.tokenomics__title {
}
.title {
}
.tokenomics__wrapper {
  /* margin: 101px 0 0 0; */
  margin: 101px auto auto auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.tokenomics__item {
}
.tokenomics_item_number {
  font-family: "nuqun", sans-serif !important;
  font-size: 135px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: var(
    --Primari-gradient,
    linear-gradient(
      91deg,
      #eaeaea 0.67%,
      #cecece 15.21%,
      #d8cecc 47.63%,
      #ded4d4 66.24%,
      #cebcd0 97.59%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tokenomics_item_number span {
  background: var(
    --Primari-gradient,
    linear-gradient(
      91deg,
      #eaeaea 0.67%,
      #cecece 15.21%,
      #d8cecc 47.63%,
      #ded4d4 66.24%,
      #cebcd0 97.59%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "nuqun", sans-serif !important;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tokenomics_item_description {
  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.roadmap {
  max-width: 1200px;
  padding: 0 36px;
  margin: 120px auto 0 auto;
}
.roadmap__title {
}
.title {
}
.roadmap__wrapper {
  margin: 40px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.roadmap__item {
  width: 650px;
  display: flex;
  gap: 27px;
}
.roadmap__item:nth-child(2) {
  align-self: flex-end;
  margin: 77px 0 180px 0;
}
.roadmap__item_img {
}
.roadmap__item_text {
  padding: 35px 0 0 0;
  display: flex;
  gap: 40px;
}
.roadmap__item_title {
  white-space: nowrap;
  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.roadmap__item_description {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.roadmap_deco_container {
  /* position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 300px 0; */
  position: absolute;
  top: 90px;
  /* left: 340px; */
  align-self: center;
}

.roadmap_deco_container.element-animation {
  position: absolute;
  top: 390px;
  opacity: 0;
}
.roadmap_deco_container.element-animation.element-show {
  position: absolute;
  top: 90px;
  opacity: 1;
  transition-duration: 1.4s;
}


.testimonails_item:nth-child(1).element-animation{
  position: relative;
  top: auto;
  left:  -300px;
}
.testimonails_item:nth-child(1).element-animation.element-show {
  position: relative;
  top: auto;
  left: 0;

  transition-duration: 1.4s;
}
.testimonails_item:nth-child(2).element-animation{
  position: relative;
  top: auto;
  right: -300px;
}
.testimonails_item:nth-child(2).element-animation.element-show {
  position: relative;
  top: auto;
  right: 0;

  transition-duration: 1.4s;
}
.testimonails_item:nth-child(3).element-animation{
  position: relative;
  top: auto;
  left: -300px;
}
.testimonails_item:nth-child(3).element-animation.element-show {
  position: relative;
  top: auto;
  left: 0;

  transition-duration: 1.4s;
}

.line {
  width: 2px;
  height: 300px;
  background: rgb(151, 71, 255);
  background: linear-gradient(
    -61deg,
    rgba(151, 71, 255, 1) 0%,
    rgba(222, 197, 255, 1) 100%
  );
  transform: rotate(-61deg);
}
.circle {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #9747ff;
  border-radius: 50%;
}
.roadmap_deco_container2.element-animation {
  position: absolute;
  bottom: -160px;
  top: auto;

  opacity: 0;
}
.roadmap_deco_container2.element-animation.element-show {
  position: absolute;
  bottom: 140px;
top: auto;
  opacity: 1;
  transition-duration: 1.4s;
}
.roadmap_deco_container2 {
  position: absolute;
  bottom: 140px;
  /* left: 350px; */
  align-self: center;
}
.roadmap_deco_container2 .line2 {
  transform: rotate(52deg);

  width: 2px;
  height: 340px;
  background: rgb(151, 71, 255);
  background: linear-gradient(
    -61deg,
    rgba(151, 71, 255, 1) 0%,
    rgba(222, 197, 255, 1) 100%
  );
}

.circle2 {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #9747ff;
  border-radius: 50%;
}

.with {
  max-width: 1200px;
  padding: 78px 36px;
  margin: auto;
  position: relative;
}

.with__container {
  position: relative;
  z-index: 2;
  border-radius: 24px;
  border: 1px solid #fff;
  background: radial-gradient(
    67.42% 67.42% at 50% 50%,
    #fff 26.73%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
}
.with__left {
  padding: 70px 30px 70px 95px;
  display: flex;
  flex-direction: column;
  gap: 43px;
}
.with__title {
  color: var(--Primary-black, #373737);

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.with__button {
  border-radius: 1571.429px;
  background: #242424;
  padding: 12px 70px;
  color: #fff;
  font-size: 17.286px;
  width: fit-content;
  font-style: normal;
  border: #000 1px solid;

  font-weight: 400;
  line-height: normal;
}
.with__button:hover {
  background: transparent;
  color: #000;
}
.mem_button:hover {
  background: transparent;
  color: #000;
  border: #000 1px solid;
}
.mem_button svg {
  transition: 0.3s;
}
.mem_button:hover svg path {
  fill: black;
}
.button {
  transition: 0.3s;
}
.with__img {
  margin: auto;
}

.with_deco_container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 33.91px;
  display: inline-flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.partners_button:hover,
.join_top_button:hover,
.news__button:hover {
  background: #000;
  color: white;
}
.with_deco_flex {
  flex: 1 1 0;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.with_deco_inner-container {
  width: 568.09px;
  height: 531.32px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  animation: rotate 5s linear infinite;
}
.with_deco_relative {
  width: 568.09px;
  height: 531.32px;
  position: relative;
}
.with_deco_circle {
  width: 220.66px;
  height: 220.66px;
  position: absolute;
  box-shadow: 0 0 0;
  border-radius: 9999px;
  filter: blur(64.6px);
}
.with_deco_circle1 {
  left: 173.71px;
  top: -0px;
  background: #ffeba3;
}
.with_deco_circle2 {
  left: 568.09px;
  top: 155.33px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  background: #c5e9ff;
}
.with_deco_circle3 {
  left: 173.71px;
  top: 310.65px;
  background: #eccdff;
}
.with_deco_circle4 {
  left: 220.66px;
  top: 155.33px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  background: #b9ffb9;
}

.features {
  max-width: 1200px;
  padding: 0 36px;
  margin: 40px auto 120px auto;
}
.features__title {
}
.title {
}
.features__wrapper {
  margin: 32px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.features__item {
  height: 100%;
  width: 100%;

  border-radius: 24px;
  border: 1px solid #e3e3e3;
  padding: 60px 78px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features__item_title {
  color: #454545;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.features__item_description {
  color: #9f9f9f;
  text-align: center;

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.mem {
  position: relative;
  max-width: 1200px;
  padding: 0 36px;
  margin: auto;
}

.mem_container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
  z-index: 2;
}
.mem_top {
}
.mem_title {
}
.title {
}
.mem_prev {
}
.prev {
  color: #a38692;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.mem_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 43px;
  padding: 40px;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #fff;
  background: radial-gradient(
    67.42% 67.42% at 50% 50%,
    #fff 26.73%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
}
.mem_text {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mem_wrapper_title {
  color: #373737;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.mem_description {
  color: var(--Gray, #9f9f9f);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.mem_button {
  border-radius: 1571.429px;
  background: var(--Black-button, #242424);
  display: flex;
  height: 48px;
  justify-content: center;
  width: fit-content;
  padding: 14px 44px;
  align-items: center;
  gap: 15.714px;

  color: #fff;
  font-size: 17.286px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button {
}
.mem_button_img {
}
.mem_img {
  margin: auto;
  width: 100%;
  max-width: 512px;
}

.mem_deco_container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 55.68px;
  padding-right: 59.91px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  animation: rotate 5s linear infinite;
}
.mem_deco_inner-container {
  width: 568.09px;
  height: 531.32px;
  transform: rotate(-180deg);

  /* transform-origin: 0 0; */

  margin: auto;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.mem_deco_relative {
  width: 568.09px;
  height: 531.32px;
  position: relative;
}
.mem_deco_circle {
  width: 220.66px;
  height: 220.66px;
  position: absolute;
  box-shadow: 0 0 0;
  border-radius: 9999px;
  filter: blur(65.6px);
  z-index: 1;
}
.mem_deco_circle1 {
  left: 173.71px;
  top: -0px;
  background: #ffeba3;
}
.mem_deco_circle2 {
  left: 568.09px;
  top: 155.33px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  background: #c5e9ff;
}
.mem_deco_circle3 {
  left: 173.71px;
  top: 310.65px;
  background: #eccdff;
}
.mem_deco_circle4 {
  left: 220.66px;
  top: 155.33px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  background: #b9ffb9;
}
.future {
  max-width: 1200px;
  margin: auto;
}
.future__title {
  padding: 0 36px;
}

.future_marquee_img {
  width: 100%;
}

.partners {
  max-width: 1200px;
  margin: 120px auto 52px auto;
}
.partners__top {
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: end;
}
.partners__top_left {
}
.partners__title {
}
.title {
}
.partners__prev {
}
.prev {
}
.partners_button {
  border-radius: 1000px;
  border: 1px solid #7b7b7b;
  padding: 6px 23px;
  color: #373737;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button {
}

:root {
  --marquee-width: 100%;
  --marquee-height: 62px;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: 100%;
  height: 62px;
  color: #eee;
  overflow: hidden;
  position: relative;
  margin: 25px 0 0 0;
}

.future .marquee-content{
  opacity: 0.5;
}
.marquee-content {
  list-style: none;
  height: 100%;
  gap: 24px;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
    animation-play-state: paused;
  } */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
}

@media (max-width: 600px) {
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
}

.faq {
  max-width: 1200px;
  padding: 0 36px;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.faq_title {
}
.title {
}
.faq_wrapper {
  max-width: 841px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 75px 0 0 0;
}
.faq__item {
  border-bottom: #e9e9e9 1px solid;
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  gap: 20px;
}
.faq__item_question {
  display: flex;
  gap: 19px;
  align-items: center;

  color: #373737;
  text-align: center;

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.faq__item_plus {
  transition: 0.3s;
}
.faq__item_answer {
  max-height: 0;
  transition: 0.8s;
  overflow: hidden;
}

.faq__item.active .faq__item_answer {
  max-height: 800px;
  padding: 0 0 20px 0;
}

.faq__item.active .faq__item_plus {
  transform: rotate(135deg);
}

.documentation {
  max-width: 1200px;
  padding: 0 36px;
  margin: auto;
}
.dosumentation_top {
  margin: 0 0 25px 0;
}
.documentation__title {
}
.title {
}
.documentation_prev {
}
.prev {
}

.documentation__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.documentation__left,
.documentation__right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 550px;
  width: 100%;
  height: 465px;
  transition: 0.3s;
  margin: auto;
}

.documentation__left {
  padding: 40px 160px 40px 60px;
}

.documentation__right {
  padding: 40px 60px 40px 160px;
}

.documentation__paper,
.documentation__git {
  text-align: center;
  color: #373737;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  position: relative;
  z-index: 2;
}

.documentation__paper_img {
  position: absolute;
  z-index: 1;
  scale: 0.0001;
  opacity: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.documentation__git_img {
  position: absolute;
  z-index: 1;
  scale: 0.0001;
  opacity: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.documentation__center_default {
  position: absolute;
  justify-self: center;
  z-index: 2;
  align-self: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.documentation__center_new {
  position: absolute;
  opacity: 0;
  justify-self: center;
  align-self: center;

  transform: scaleX(1);
  transition: opacity 0.5s ease;
}

.documentation__center_new_r {
  transform: scaleX(-1);
  transition: opacity 0.5s ease;
  position: absolute;
  opacity: 0;
  justify-self: center;
  align-self: center;
}

.documentation__left:hover {
  background: #ffffff;
  border-radius: 24px;
}
.documentation__left:hover .documentation__paper::after,
.documentation__left:focus .documentation__paper::after {
  width: 100%;
}
.documentation__left:hover .documentation__paper {
  color: #a38692;
}
.documentation__paper::after {
  background-color: #a38692; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 1px; /* Высота линии */
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.documentation__paper {
  display: inline-block;
  cursor: pointer;
}

.documentation__right:hover .documentation__git::after,
.documentation__right:focus .documentation__git::after {
  width: 100%;
}
.documentation__right:hover .documentation__git {
  color: #a38692;
}
.documentation__git::after {
  background-color: #a38692; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 1px; /* Высота линии */
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.documentation__git {
  display: inline-block;
  cursor: pointer;
}

.documentation__right:hover {
  background: #ffffff;
  border-radius: 24px;
}

.documentation__left:hover .documentation__paper_img {
  bottom: 50px;
  right: 30%;
  left: 30px;
  top: 40px;

  opacity: 1;
  scale: 1;
}

.documentation__left:hover ~ .documentation__center_new {
  opacity: 1;
  transform: scaleX(1); /* Отражение по горизонтали */
}

.documentation__left:hover ~ .documentation__center_default {
  opacity: 0;
}

.documentation__right:hover .documentation__git_img {
  bottom: 50px;
  left: 30%;
  right: 30px;
  top: 40px;

  opacity: 1;
  scale: 1;
}

.documentation__right:hover ~ .documentation__center_new_r {
  opacity: 1;
}

.documentation__right:hover ~ .documentation__center_default {
  opacity: 0;
}

.join {
  max-width: 1200px;
  padding: 0 36px;
  margin: 120px auto;
}
.join_top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 0 0 25px 0;
}
.join_top_left {
}
.join__title {
}
.title {
}
.join_prev {
}
.prev {
}
.join_top_button {
  border-radius: 1000px;
  border: 1px solid #7b7b7b;
  padding: 6px 23px;
  color: #373737;
  font-size: 11px;
  transition: 0.3s;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.join__wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 24px;
}
.join__item {
  padding: 25px;
  border-radius: 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.join__item_top {
}
.join__item_title {
  color: #252525;
  font-size: 23.706px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.join__item_prev {
  color: #9f9f9f;
  margin: 7px 0 24px 0;
  font-size: 12.84px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.join__item_price {
  background: var(
    --gradient_light,
    linear-gradient(
      91deg,
      #b6b6b6 0.67%,
      #d4d4d4 23.36%,
      #d8cecc 47.63%,
      #eee3e3 68.03%,
      #e6d8e9 97.59%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.join__item_description {
  color: #9f9f9f;

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.join__item_button {
  border-radius: 1571.429px;
  background: #242424;
  padding: 12px;
  width: 100%;
  color: #fff;
  font-size: 17.286px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: none;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  line-height: normal;
  transition: 0.3s;
}
.join__item_button:hover {
  background: transparent;
  border: 1px solid black;
  color: black;
}
.calculator {
  border-radius: 24px;
  background: #181818;
  max-width: 1200px;
  margin: auto;
}
.calculator_container {
  padding: 0 36px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.calculator_left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
}
.calculator_title {
  color: white;
}
.calculator_form {
  margin: 40px 0 0 96px;
  display: flex;
  flex-direction: column;
}
.calculator_form_price {
  color: #7b7b7b;
  margin: 20px 0;
  font-size: 12.84px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.calculator__inputs {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.calculator__inputs_item {
  display: flex;
  flex-direction: column;
  max-width: 315px;
  width: 100%;
  gap: 6px;
}
.calculator__inputs_item_prev {
  color: #fff;
  font-size: 12.84px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calculator__inputs_item_wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  padding: 5px 30px 5px 11px;
}
.calculator__input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.calculator__input::placeholder {
  color: #9f9f9f;
  font-size: 12.84px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calculator__inputs_item_curr {
  position: absolute;
  color: #9f9f9f;
  font-size: 12.84px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  right: 5px;
}
.calculator__submit {
  border-radius: 1571.429px;
  background: linear-gradient(
    89deg,
    #ffeba3 0%,
    #e5bcff 23.5%,
    #c5e9ff 46.5%,
    #b9ffb9 65%,
    #ffeba3 84.5%,
    #c5e9ff 100%
  );
  padding: 9px 90px;
  color: #000;
  font-size: 17.286px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: normal;
  width: fit-content;
}

.calculator__submit:hover {
  background: white;
}
.button {
}
.calculator__bottom_text {
  color: #e9c5c7;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0 0 0 92px;
  max-width: 529px;
  width: max-content;
}
.calculator_right {
  width: 100%;
  position: relative;
  max-width: 700px;
  left: -100px;
  padding: 13px 0;
}

.news {
  max-width: 1200px;
  padding: 0 36px;
  margin: 120px auto;
}
.news__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.news__title {
}
.title {
}
.news__button {
  border-radius: 1000px;
  border: 1px solid var(--Border, #7b7b7b);
  padding: 6px 23px;
  color: #373737;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button {
}
.news__wrapper {
  margin: 24px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.news__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.news__item_top {
  position: relative;
}
.news__item_back {
  width: 100%;
}
.news__item_date {
  border-radius: 100px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(5px);

  padding: 7px 15px 6px 15px;

  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.news__item_arrow {
  position: absolute;
  bottom: 2%;

  right: 0;
overflow: hidden;
  width: 17.5%;
  height: 23%;
  border-radius: 100%;
  display: flex;
  max-height: 63px;
  max-width: 63px;
  background-color: #373737;
  justify-content: center;
  align-items: center;
}
.news__item_arrow:hover img {
  animation: arrowAnimation 0.5s ease-in-out forwards;
}
.news__item_arrow_img {
}
.news__item_botton {
}
.news__item_title {
  color: #252525;
  font-size: 23.706px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news__item_description {
  color: #7b7b7b;
  margin: 5px 0 0 0;
  font-size: 12.84px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.testimonails__outer {
  width: 100%;
  overflow: hidden;
}
.container_outer {
  overflow: hidden;
  position: relative;
  transform-origin: top center;  
}

.container_outer {
  overflow: hidden;
  position: relative;
  transform-origin: top center;  
}

.container_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-radius: 0px 0px 40px 40px;
  display: flex;
  flex-direction: column;
  transform-origin: top center; /* Добавлено */
}


.testimonails {
  max-width: 1200px;
  margin: auto auto 0 auto;
  padding: 120px 0 0 0;
  /* overflow: hidden; */
}
.testimonails__top {
  max-width: 1200px;
  padding: 0 36px;
  margin: auto auto 150px auto;
}
.testimonails__title {
}
.title {
}
.testimonails__prev {
}
.prev {
}
.testimonails__wrapper {
  width: 100%;
  display: flex;

  flex-direction: column;
}
.testimonails_item:nth-child(1) {
  max-width: 290px;
  margin: 0 0 0 200px;
}
.testimonails_item:nth-child(2) {
  max-width: 360px;
  align-self: flex-end;
}
.testimonails_item:nth-child(3) {
  max-width: 264px;
  margin: 0 0 0 320px;
}
.testimonails_item {
  position: relative;
  display: flex;
  justify-content: center;
  width: max-content;
  align-items: center;
}
.testimonails_item:nth-child(2) {
  margin: 130px 130px 150px 0;
}
.testimonails_item_back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.testimonails__item_container {
  border-radius: 24px;
  background: #fff;
  width: fit-content;
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.testimonails_item_top {
  display: flex;
  gap: 9px;
  align-items: center;
}
.testimonails_item_img {
}
.testimonails__item_top_right {
}
.testimonails__item_name {
  color: #242424;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.testimonails__item_nick {
  color: #373737;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.testimonails_item_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.testimonails_item_bottom_left {
  padding: 0 0 19px 14px;
}
.testimonails_item_description {
  color: #242424;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.testimonails_item_bottom_tag {
  color: #a38692;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* padding: 0 0 23px 0; */
}
.testimonails_item_bottom_button {
  display: flex;
  width: 36.785px;
  min-width: 36.785px;
  height: 36.785px;
  align-items: center;
  justify-content: center;
  background: #373737;
  border-radius: 100%;
  align-self: flex-end;
  overflow: hidden; /* Чтобы стрелка не выходила за пределы кнопки */
}

.testimonails_item_bottom_arrow {
  width: 10px;
  transition: transform 0.6s ease-in-out; /* Плавный переход для анимации */
}

.testimonails_item_bottom_button:hover .testimonails_item_bottom_arrow {
  /* transform: translate(50px, -50px);  */
  animation: arrowAnimation 0.5s ease-in-out forwards;
}

@keyframes arrowAnimation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, -50px);
  }
  51% {
    transform: translate(-50px, -50px);
  }
  52% {
    transform: translate(-50px, 50px); /* Перемещаем стрелку вниз */
  }
  100% {
    transform: translate(0, 0); /* Возвращаем стрелку на исходное место */
  }
}

.footer {
  max-width: 1200px;
  padding: 0 36px 40px 36px;
  margin: auto;
}
.footer__logo {
  display: flex;
  gap: 10px;
  align-items: center;

  color: #d5c7d2;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 25px 0;
}
.footer__logo_img {
  width: 70px;
  height: 70px;
}
.footer__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
}
.footer__left {
  border-radius: 16px;
  background: #242424;

  padding: 30px;
  width: fit-content;
  max-height: 325px;
  max-width: 456px;
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__left_txt {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  max-width: 277px;
}
.footer__left_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
  position: relative;
  bottom: 10px;
  transition: 0.5s all ease;
  max-width: 345px;
  scale: 1;
}
.footer__left:hover .footer__left_img {
  scale: 1.05;
  bottom: 0px;
}
.footer_nav {
  display: flex;
  gap: 50px;
}
.footer_nav_item {
  max-height: 325px;
  display: grid;
}
.footer_nav_item_link {
  color: #373737;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-start;
  height: fit-content;
}
.footer_nav_item_link:last-child {
  align-self: flex-end;
  margin: 50px 0 0 0;
}
.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 32px; */
  max-height: 325px;
}
.footer__right_top {
  padding: 25px 0 25px 25px;
  border-left: #ebebeb 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}
.footer__right_soc:hover svg path:nth-child(1) {
  fill: #A38692;
}
.footer__right_soc svg path:nth-child(1) {
transition: 0.3s;}

.footer__right_year {
  color: #d5c7d2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_nav_item_link {
  display: inline-block;
  line-height: 1;
  text-decoration: none; /* Убираем подчеркивание */
  cursor: pointer;
  width: fit-content;

  transition: 0.3s;
}
.footer_nav_item_link:hover {
  color: #a38692;
}
.footer_nav_item_link:after {
  background-color: #a38692; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 1px; /* Высота линии */
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.footer_nav_item_link:hover:after {
  width: 100%;
}


@media (max-width: 1600px) {
  .roadmap_deco_container{
    top: 50px;
  }
  .roadmap_deco_container.element-animation.element-show{
    top: 50px;

  }
  .roadmap_deco_container2.element-animation.element-show {
    position: absolute;
    bottom: 120px;
  
    opacity: 1;
    transition-duration: 1.4s;
  }
  .roadmap_deco_container2{
    bottom: 120px;
  }
}



/* @media (max-width: 1200px) { */
  .calculator_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .calculator_right {
    width: 100%;
    left: auto;
    scale: 1.2;
  }


@media (max-width: 1024px) {
  .roadmap_deco_container{
    top: 90px;
  }
  .calculator_form {
    margin: 20px 0 0 0;
  }
  .calculator__bottom_text {
    margin: 20px 0 0 0;
  }
  .calculator_left {
    padding: 40px 0;
  }
  .line {
    height: 200px;
  }
  .line2 {
    height: 200px !important;
  }
  .roadmap_deco_container2 {
    bottom: 200px;
  }
  .with__left {
    padding: 30px;
  }

  .roadmap_deco_container.element-animation.element-show{
    top: 90px;

  }
  .roadmap_deco_container2.element-animation.element-show {
    bottom: 200px;
  
  }

}

@media (max-width: 768px) {
  .calculator__bottom_text {
    max-width: none;
    width: 100%;
  }
  .header__button {
    padding: 6px 36px;
    white-space: nowrap;
  }
  .header__nav {
    position: relative;
    right: -26px;
  }
  .about__left_wrapper {
    gap: 24px;
  }
  .about_left {
    padding: 24px;
  }
  .tokenomics {
    gap: 0;
    flex-direction: column;
  }
  .tokenomics__wrapper {
    padding: 11% 0 0 16%;
    margin: 0;
    gap: 20px;
  }
  .tokenomics_item_description {
    font-size: 15px;
  }
  .tokenomics_item_number,
  .tokenomics_item_number span {
    font-size: 105px;
  }
  .tokenomics_item_number {
    display: flex;
    gap: 0 40px;
    flex-wrap: wrap;
  }

  .roadmap__item:nth-child(2) {
    margin: 175px 0 300px 0;
  }
  .roadmap_deco_container {
    top: 100px;
  }
  .roadmap_deco_container2 {
    bottom: 200px;
  }
  .roadmap_deco_container.element-animation.element-show{
    top: 100px;

  }
  .roadmap_deco_container2.element-animation.element-show {

    bottom: 200px;
  
 
  }
  .line {
    height: 300px;
  }
  .roadmap_deco_container2 .line2 {
    height: 340px !important;
  }

  .with_deco_container {
    transform: rotate(90deg);
    gap: 0;
  }
  .with_deco_inner-container {
  }
  .with_deco_flex:nth-child(1) {
    position: relative;
    right: -200px;
  }
  .with_deco_flex:nth-child(2) {
    position: relative;
    left: -200px;
  }
  .with__left {
    display: contents;
  }
  .with__container {
    display: flex;
    align-items: center;
    padding: 54px;
    flex-direction: column;
  }
  .with__img {
    margin: 27px 0 50px 0;
  }
  .with__button {
    order: 5;
    width: 100%;
    text-align: center;
  }
  .features__wrapper {
    display: flex;
    flex-direction: column;
  }
  .features__item {
    padding: 50px;
  }
  .mem_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: start;
  }
  .mem_description {
    margin: 24px 0 38px 0;
  }
  .mem_text {
    display: contents;
  }
  .mem_button {
    order: 10;
    width: 100%;
    text-align: center;
    margin: 38px 0 0 0;
    position: relative;
  }
  .mem_img {
    order: 8;
    width: 100%;
    max-width: none;
    position: relative;
  }

  .documentation__paper,
  .documentation__git {
    color: #a38692;
    font-size: 22.468px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
  }
  .documentation__paper::after,
  .documentation__git::after {
    width: 100%;
  }
  .documentation__center_default {
    max-width: 320px;
    width: 45%;
  }
  .documentation__paper_img {
    bottom: 50px;
    right: 0%;
    left: 0px;
    top: 80px;
    opacity: 1;
    scale: 1;
  }
  .documentation__git_img {
    bottom: 50px;
    left: 30%;
    right: 30px;
    top: 40px;
    opacity: 1;
    scale: 1;
  }
  .documentation__left:hover .documentation__paper_img {
    bottom: 50px;
    right: 0%;
    left: 0px;
    top: 80px;
    opacity: 1;
    scale: 1;
  }
  .documentation__center_new,
  .documentation__center_new_r {
    display: none !important;
  }
  .documentation__right,
  .documentation__left {
    background: #ffffff;
    border-radius: 24px;
  }
  .documentation__center_default {
    opacity: 1 !important;
  }
  .join__item:nth-child(3) {
    display: none;
  }
  .join__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .calculator_left {
    display: contents;
  }
  .calculator_container {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .calculator {
    margin: 0 30px;
  }
  .calculator_right {
    order: -1;
    scale: 1;
    max-width: 482px;
    margin: auto;
    width: 100%;
  }
  .calculator_form {
    width: 100%;
  }
  .calculator__inputs_item {
    width: 100%;
    max-width: none;
  }
  .calculator_title {
    order: -2;
  }
  .calculator__inputs {
    gap: 24px;
  }
  .calculator__inputs_item_prev {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .calculator__inputs_item_wrapper {
    height: 46px;
  }
  .calculator__input {
    font-size: 20px;
  }
  .calculator__input::placeholder {
    font-size: 20px;
  }
  .calculator_form_price {
    font-size: 24px;
  }
  .calculator__submit {
    width: 100%;
    text-align: center;
  }
  .calculator__bottom_text {
    align-self: flex-start;
  }
  .testimonails__wrapper {
    align-items: center;
  }
  .testimonails_item {
    align-self: center !important;
    margin: 0 !important;
  }
  .testimonails_item:nth-child(2) {
    margin: 330px 0 250px 0 !important;
  }
  .news__item_date {
    font-size: 11.419px;
  }
  .news__item_title {
    font-size: 20px;
  }
  .news__item_description {
    font-size: 12px;
  }
  .footer__left {
    padding: 12px 12px 0 12px;
    gap: 40px;
  }
  .footer__left_img {
    bottom: -5px;
  }
  .footer__left:hover .footer__left_img {
    bottom: -10px;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: auto auto;
  }
  .footer__right {
    grid-column: -1/1;
    align-items: center;
    border-top: #ebebeb 1px solid;
  }
  .footer__right_top {
    flex-direction: row;
    border: none;
  }
  .footer__right_soc {
    width: 33px;
  }
  .footer__right_soc img {
    width: 100%;
  }
  .footer__left_txt {
    font-size: 16px;
  }
  .about {
    margin: 80px auto;
  }
  .roadmap {
    margin: 80px auto auto auto;
  }
  .roadmap__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    max-width: 642px;
  }
  .roadmap__item_img {
    width: 100%;
  }
  .documentation__right {
    padding: 40px;
  }
  .documentation__left {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  .roadmap_deco_container,
  .roadmap_deco_container2 {
    left: auto;
    align-self: center;
  }
  .roadmap_deco_container2 .line2,
  .line {
    height: 200px !important;
  }
  .roadmap_deco_container {
    top: 170px;
  }
  .roadmap_deco_container.element-animation.element-show{
    top: 170px;

  }
  .roadmap_deco_container2.element-animation.element-show {

    /* bottom: 200px; */
  
 
  }
  .header__button {
    display: none;
  }

  .about__wrapper {
    flex-direction: column;
  }
  .about_left {
    width: 100%;
  }
  .about_right_img {
    max-width: 335px;
    margin: auto;
  }
  .tokenomics__wrapper {
    padding: 50px 0 0 0;
    gap: 270px;
  }
  .tokenomics_item_number {
    font-size: 93px;
    flex-direction: column;
    margin: 0 0 30px 0;
  }
  .tokenomics_item_number span {
    font-size: 32px;
  }
  .roadmap {
    margin: 120px auto auto auto;
  }
  .with__container {
    padding: 20px;
  }
  .with__title {
    font-size: 24px;
  }
  .mem_wrapper {
    padding: 24px;
  }
  .mem_wrapper_title {
    font-size: 24px;
  }
  .partners__top {
    flex-direction: column;
    align-items: center;
  }
  .partners_button {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .faq {
    flex-direction: column;
    gap: 20px;
  }
  .faq_wrapper {
    margin: 0;
  }
  .documentation__center_default {
    display: none !important;
  }
  .documentation__right,
  .documentation__left {
    overflow: hidden;
    height: 134px;
  }
  .documentation__right {
    background: url(./img/star-back.svg) no-repeat center, #fff;

    background-size: cover;
  }
  .documentation__left {
    background: url(./img/star2.svg) no-repeat center, #fff;

    background-size: cover;
  }
  .documentation__paper_img,
  .documentation__git_img {
    display: none !important;
  }
  .documentation__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .documentation__paper,
  .documentation__git {
    font-size: 36px;
  }

  .join_top {
    display: contents;
  }
  .join_prev {
    max-width: 271px;
  }
  .join_top_button {
    order: 10;
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
  .calculator_title {
    align-self: flex-start;
  }
  .join {
    display: flex;
    flex-direction: column;
  }
  .join__wrapper {
    margin: 32px 0;
    grid-template-columns: 1fr;
  }
  .join__item:nth-child(3) {
    display: flex;
  }
  .join__item_prev {
    margin: 12px 0;
  }
  .join__item_price {
    font-size: 24px;
    margin: 24px 0;
  }
  :root{
    --marquee-elements-displayed: 2;

  }
  .faq__item_question{
    text-align: start;
  }
  .documentation__right:hover{
    background: url(./img/star-back.svg) no-repeat center, #fff;
    background-size: cover;
  }
  .documentation__left:hover{
    background: url(./img/star2.svg) no-repeat center, #fff;
    background-size: cover;
  }
  .calculator__inputs_item_prev {
    font-size: 20px;
  }
  .calculator__input {
    font-size: 16px;
  }
  .calculator__input::placeholder {
    font-size: 16px;
  }
  .calculator_form_price {
    font-size: 20px;
  }
  .calculator__bottom_text {
    font-size: 40px;
  }
  .news__wrapper {
    grid-template-columns: 1fr;
  }
  .news__top {
    display: contents;
  }
  .news__button {
    order: 10;
  }
  .news {
    display: flex;
    flex-direction: column;
  }
  .news__item_date {
    font-size: 14px;
  }
  .news__item_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .news__item_description {
    font-size: 14px;
  }
  .news__wrapper {
    gap: 40px;
  }
  .news__button {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 30px 0 0 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer__logo {
    margin: auto;
    order: 10;
  }
  .footer__right_year {
    order: 15;
    text-align: center;
  }
  .footer__wrapper {
    display: contents;
    flex-direction: column;
  }
  .footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    order: -1;
    gap: 20px;
  }
  .footer_nav_item {
    gap: 16px;
    max-height: none;
  }
  .footer_nav_item_link:last-child {
    border-radius: 12px;
    background: #ededed;
    text-align: center;
    padding: 12px;
    width: 100%;
  }

  .footer__right {
    display: contents;
  }
  .footer__right_top {
    padding: 32px 0 0 0;
    order: -1;
    border-top: #ededed 1px solid;
  }
  .footer__left {
    max-width: none;
    margin: 40px 0 60px 0;
  }
  .footer__left {
    gap: 0;
  }
  .footer__left_txt {
    font-size: 24px;
  }
  .calculator{
    margin: 0 19px;
  }
  .footer,.news,.join,.documentation,.faq,.future__title,.partners__top,.mem,.features,.roadmap,.tokenomics,.about{
    padding: 0 19px;
  }

  .with{
    padding: 78px 19px;
  }
}
@media (max-width: 450px) {
  .header{
    padding: 18px 19px;
  }
  .header__nav_item_two{
    display: none;
  }
  .header__nav{
    right: auto;
  }
  .main{
    padding: 20px;
  }
  .main__title{
    white-space: nowrap;
  }
  .main__text1{
    width: 280px;
  }
  .main__left{
    width: 70%;
  }
  .title{
    font-size: 32px;

  }
  .roadmap__item{
  display: flex;
  flex-direction: column;
  }
  .roadmap__item_text{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .roadmap__item_title{
    font-size: 24px;
  }
  .roadmap__item_text{
    padding: 0;
  }
  .roadmap__item{
    gap: 7px;
  }
  .roadmap__item_img{
    max-width: 214px;
    margin: auto;
  }
  .roadmap_deco_container2{
    bottom: 380px;
  }
  .roadmap_deco_container2 .line2{
    transform: rotate(0deg);
  }
  .roadmap_deco_container{
    top: 430px;
  }
  .roadmap_deco_container.element-animation.element-show{
    top: 390px;

  }
  .roadmap_deco_container2.element-animation.element-show {

    bottom: 380px;
  
 
  }
  .line{
    transform: rotate(0deg);

  }
  .roadmap__item:nth-child(2)
  {
    margin: 235px 0 300px 0;
  }


  .with__img{
    width: 100%;
  }
  .features__item{
    padding: 36px 30px;
  }
  .mem_img{
    height: 306px;
    object-fit: cover;
    border-radius: 16px;
  }


  .calculator{
    margin: 0;
    
  }
  .calculator_container{
    padding: 20px;
  }
  .testimonails_item:nth-child(2){
    max-width: 90%;
  }
  .testimonails_item_bottom_left{
    padding: 0;
  }
  .testimonails_item_bottom{
    flex-direction: column;
  }
  .testimonails_item:nth-child(1){
    width: 100%;
  }
  .testimonails__item_container{
    width: 100%;
  }
  .footer_nav_item_link:last-child{
    white-space: nowrap;
    margin: 50px 0 20px 0;
  }
}
@media (max-width: px) {
}

